
body {
  background-repeat: no-repeat;
}


ul {
  list-style-type: none;
  margin: 0;
  padding-right: 45px;
  background-color: white;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  min-height: 43px;
  justify-content:space-between;
  display: flex;
  align-items: center;
}

li {
  font-size: 12px;
  cursor: pointer;
  color: rgb(120, 120, 120);
}

img {
  max-width: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  object-fit: cover;
}







